@import "tailwindcss";

@layer utilities {
  :root {
    --color-primary: #3b82f6;
    --color-secondary: #1e293b;
    --font-sans: "Inter", sans-serif;
  }
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  font-family: var(--font-sans);
}